/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

/* header*/

.main-header{
    background-image: url("pattern.png");
    background-size: 280px;
    display: block;
    height: 80px;
    width: 100%;
    text-align: left;
    background-color: #4EA0FF;
    padding-top: 25px;
    padding-left: 10px;
}

.logo{
    height: 50px;
    vertical-align: bottom;    
}

/*header2*/
h1{
    font-size: 40px;
}

.link-author{
    color: #4EA0FF;
    text-decoration: none;
}

a .link-author:visited{
    color: blueviolet;
}

time{
    display: block;
}

cite{
    display: block;
}

/*main*/

ul{
    list-style-position: inside;
}

.tablehead{
    color: white;
    background-color: #4EA0FF;
}

.tablebody{
    padding: 20px;
    background-color: paleturquoise;
}

table{
  border-collapse: collapse;  
  text-align: left;
}

.trwhite{
    background-color: white;
}

/*footer*/

footer img{
    display: block;
}

.grey{
    color: lightsteelblue;
}

